/* page layout */

body {
  /* font-family: "Press Start 2P"; */
  font-family: "Verdana";
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.grow {
  flex-grow: 1;
}

/* 2d console UI */

#menu {
  overflow: hidden;
  width: 80%;
  border: 10px solid transparent;
  border-image:url(./assets/images/button.png) 20 fill;
  height: 20px;
  transition: height 0.5s;
  border-radius: 10px 10px 0px 0px;
  color: black;
}

#status-bar {
  background-color: rgba(0, 0, 0, 0.279);
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 15px;
}

.nes-btn {
  border: 10px solid red;
  border-image: url(./assets/images/button.png) 20 fill;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
  margin: 0px 8px 8px;
  cursor: pointer;
}

.nes-btn:hover {
  transform: scale(1.05);
}

.nes-btn:active {
  transform: scale(0.95);
}

/* gallery mode */

#galleryMode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(191, 248, 205);
  border-radius: 12px;
}

/* radio mode */

#radioMode {
  background-color: slategray;
  border-radius: 12px;
  display: flex;
  height: 100%;
}

/* chat mode */

#subtitles {
  text-align: center;
  overflow-y: auto;
  width: 55vh;
  color: yellow;
  font-size: 28px;
  padding-bottom: 10px;
}

#chatMode {
  height: 100%;
  justify-content: space-between;
}

#chat {
  text-align: left;
  border: 2px solid grey;
  background-color: white;
  color: rgb(100, 39, 80);
  overflow-y: scroll;
  height: 100px;
}

#chat-input {
  width: 100%;
}

@media (max-width: 600px) {

  #menu {
    width: 100%;
  }

  #console {
    margin: 2px;
    padding: 4px;
  }

  .desktop {
    display: none;
  }
}
